@charset "UTF-8";
@import url("../webfonts/ProximaNova_Thin/stylesheet.css");

@font-face{
	font-family: ForeverBrushScript;
	src: url("../Forever Brush Font/Forever Brush Script Demo.ttf");
}
nav ul li {
	margin: auto 15px;
	margin-top: 10px;
}

#animated{
	width: 50px;
	height: 40px;
	overflow: hidden;
	border: 2px groove orange;
	box-sizing: border-box;
	padding: 20px;
	position: absolute;
	left: 0px;
	top: -100px;
	background-color: white;
	z-index: 999;
}

#animated img{
	width: 250px;
	float: right
}

#ad{
	position: fixed;
	left: 30%;
	top: 150px;
	display: none;
	z-index: 777;
}

#close_ad{
	position: absolute;
	width: 50px;
	height: auto;
	left: -25px;
	top:-25px;
	cursor: pointer;
}

h2{
    font-family: ForeverBrushScript ;	
}
h1{
    font-family: "ProximaNova Thin";
}

header{
	width: 100px;
	height: 950px;
	background-image: url("../restaurant-assets/bg banner.png");
	background-repeat: no-repeat;
	background-size: cover;
}

header #grand{
	top: 50%;
	position: relative;
}

#story{
	background-color: #962323;
}

#story figcaption{
	line-height: 50px;
}
#teambg {
    background-image: url(../restaurant-assets/asset-2.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: -70% 0%;
}

#recipes{
	background-image: url("../restaurant-assets/bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 500px;
}
/*-------------------------------------------------------------------------------------------*/
/* Start Slider Pizza */
.slider{
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.slides{
	width: 500% ;
	height: 100%;
	display: flex;
}

.slides input{
	display: none;
}

.slide{
	width: 20%;
	transition: 2s;
}

.slide img{
	width: 100%;
	height: 100%;
}
/* css for manual slide navigation */
.navigation-manual{
	position: absolute;
	width: 100%;
	margin-top: 22%;
	display: flex;
	justify-content: center;
}

.manual-btn{
	border: 3px solid darkmagenta;
	border-radius: 10px;
	padding: 6px;
	cursor: pointer;
	transition: 0.5s;
}

.manual-btn:not(:last-child){
	margin-right: 40px;
}

.manual-btn:hover{
	background: yellow;
}

#radio1:checked ~ .first{
	margin-left: 0;
}
#radio2:checked ~ .first{
	margin-left: -20%;
}
#radio3:checked ~ .first{
	margin-left: -40%;	
}
#radio4:checked ~ .first{
	margin-left: -60%;
}
/*-------------------------------------------------------------------------------------------*/

.hidebtn{
	display: none;
}

.goupbtn{
	display: block;
	position: fixed;
	left: 25px;
	bottom: 25px;
	animation-name: goupgodown;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	z-index: 999;
}


@keyframes goupgodown{
	0%{
		transform: translateY(5px);
	}
	
	100%{
		transform: translateY(-5px);
	}
}

/* slideshow Ad Food */
.scroll-container{
	width: 100%;
	height: 406px;
	overflow: hidden;
}

@-webkit-keyframes slide_show {
	0% {right:0px;}
	10% {right:0px;}
	20% {right:1360px;}
	30% {right:1360px;}
	40% {right:2720px;}
	50% {right:2400px;}
	60% {right:1360px;}
	70% {right:1360px;}
	80% {right:0px;}
	90% {right:0px;}
	100% {right:0px;}
}

.wrapper{
	display: flex;
	width: 100%;
	height: 600px;
	position: relative;
	-webkit-animation-name: slide_show;
	-webkit-animation-duration: 33s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}

.img-content {
	height: 100%;
	width: 1600px;
	position: relative;
	float: left;
}

.img-content img{
	width: 100%px;
	height: 405px;
}

/*---------------------------------------------------------------------- */

/* Start Footer */
.content{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-direction: row;

}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 20%;
   padding: 0 10px;
}
#Text-Resraurant{
	font-size: 25px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	font-weight: 500;
}
.footer-col p{
	color: #ffffff;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
/* End footer */

/* responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}
/*End responsive*/

#copy-right{
	width: 100%;
    height: 50px;
    text-align: center;
}
#copy-right h3{
	background-color: #16171b;
    width: 100%;
    padding: 30px 0;
    text-align: center;
    font-size: 15px;
    color: #fff;
    text-transform: capitalize;
}