@font-face {
	font-family: 'ProximaNova Thin';
	src: url('ProximaNova-Thin.eot');
	src: url('ProximaNova-Thin.eot?#iefix') format('embedded-opentype'),
		url('ProximaNova-Thin.woff') format('woff'),
		url('ProximaNova-Thin.ttf') format('truetype'),
		url('ProximaNova-Thin.svg') format('svg');
}